In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("Smarket.csv")

In [3]:
data.head()

   Year   Lag1   Lag2   Lag3   Lag4   Lag5  Volume  Today Direction
0  2001  0.381 -0.192 -2.624 -1.055  5.010  1.1913  0.959        Up
1  2001  0.959  0.381 -0.192 -2.624 -1.055  1.2965  1.032        Up
2  2001  1.032  0.959  0.381 -0.192 -2.624  1.4112 -0.623      Down
3  2001 -0.623  1.032  0.959  0.381 -0.192  1.2760  0.614        Up
4  2001  0.614 -0.623  1.032  0.959  0.381  1.2057  0.213        Up

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250 entries, 0 to 1249
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       1250 non-null   int64
 1   Lag1       1250 non-null   float64
 2   Lag2       1250 non-null   float64
 3   Lag3       1250 non-null   float64
 4   Lag4       1250 non-null   float64
 5   Lag5       1250 non-null   float64
 6   Volume     1250 non-null   float64
 7   Today      1250 non-null   float64
 8   Direction  1250 non-null   object
dtypes: float64(7), int64(1), object(1)
memory usage: 88.0+ KB

## 4.6.1

In [5]:
corr_matrix=data.corr(method='pearson')

In [6]:
corr_matrix

,Year,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today
Year,1.000000,0.029700,0.030596,0.033195,0.035689,0.029788,0.539006,0.030095
Lag1,0.029700,1.000000,-0.026294,-0.010803,-0.002986,-0.005675,0.040910,-0.026155
Lag2,0.030596,-0.026294,1.000000,-0.025897,-0.010854,-0.003558,-0.043383,-0.010250
Lag3,0.033195,-0.010803,-0.025897,1.000000,-0.024051,-0.018808,-0.041824,-0.002448
Lag4,0.035689,-0.002986,-0.010854,-0.024051,1.000000,-0.027084,-0.048414,-0.006900
Lag5,0.029788,-0.005675,-0.003558,-0.018808,-0.027084,1.000000,-0.022002,-0.034860
Volume,0.539006,0.040910,-0.043383,-0.041824,-0.048414,-0.022002,1.000000,0.014592
Today,0.030095,-0.026155,-0.010250,-0.002448,-0.006900,-0.034860,0.014592,1.000000

## 4.6.2

In [7]:
replace_map = {'Direction':{'Up':1,'Down':0}}
data.replace(replace_map, inplace=True)

In [8]:
data.head()

   Year   Lag1   Lag2   Lag3   Lag4   Lag5  Volume  Today  Direction
0  2001  0.381 -0.192 -2.624 -1.055  5.010  1.1913  0.959          1
1  2001  0.959  0.381 -0.192 -2.624 -1.055  1.2965  1.032          1
2  2001  1.032  0.959  0.381 -0.192 -2.624  1.4112 -0.623          0
3  2001 -0.623  1.032  0.959  0.381 -0.192  1.2760  0.614          1
4  2001  0.614 -0.623  1.032  0.959  0.381  1.2057  0.213          1

In [9]:
Y=data['Direction']

In [10]:
data=data.drop("Direction",axis=1)

In [11]:
data

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213
...    ...    ...    ...    ...    ...    ...      ...    ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489

[1250 rows x 8 columns]

In [12]:
Y

0       1
1       1
2       0
3       1
4       1
       ..
1245    1
1246    0
1247    1
1248    0
1249    0
Name: Direction, Length: 1250, dtype: int64

In [13]:
data1 = data[["Lag1", "Lag2","Lag3","Lag4","Lag5","Volume"]]

In [14]:
data1

       Lag1   Lag2   Lag3   Lag4   Lag5   Volume
0     0.381 -0.192 -2.624 -1.055  5.010  1.19130
1     0.959  0.381 -0.192 -2.624 -1.055  1.29650
2     1.032  0.959  0.381 -0.192 -2.624  1.41120
3    -0.623  1.032  0.959  0.381 -0.192  1.27600
4     0.614 -0.623  1.032  0.959  0.381  1.20570
...     ...    ...    ...    ...    ...      ...
1245  0.422  0.252 -0.024 -0.584 -0.285  1.88850
1246  0.043  0.422  0.252 -0.024 -0.584  1.28581
1247 -0.955  0.043  0.422  0.252 -0.024  1.54047
1248  0.130 -0.955  0.043  0.422  0.252  1.42236
1249 -0.298  0.130 -0.955  0.043  0.422  1.38254

[1250 rows x 6 columns]

In [15]:
df_train = data1.iloc[:998,:]
df_test = data1.iloc[998:,:]

In [16]:
Y_train = Y.iloc[:998,]
Y_test = Y.iloc[998:,]

In [17]:
Y_train

0      1
1      1
2      0
3      1
4      1
      ..
993    0
994    1
995    0
996    1
997    0
Name: Direction, Length: 998, dtype: int64

# Logistic Regression

# Training and testing the accuracy of the logistic regression model on the same data set

In [18]:
import statsmodels.api as sm

In [19]:
data1=sm.add_constant(data1)

In [20]:
model = sm.Logit(Y,data1)
model_fit = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.691034
         Iterations 4

In [21]:
print(model_fit.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:              Direction   No. Observations:                 1250
Model:                          Logit   Df Residuals:                     1243
Method:                           MLE   Df Model:                            6
Date:                Wed, 28 Apr 2021   Pseudo R-squ.:                0.002074
Time:                        16:08:33   Log-Likelihood:                -863.79
converged:                       True   LL-Null:                       -865.59
Covariance Type:            nonrobust   LLR p-value:                    0.7319
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -0.1260      0.241     -0.523      0.601      -0.598       0.346
Lag1          -0.0731      0.050     -1.457      0.145      -0.171       0.025
Lag2          -0.0423      0.050     -0.845      0.398      -0.140       0.056
Lag3           0.0111      0.050      0.222      0.824      -0.087       0.109
Lag4           0.0094      0.050      0.187      0.851      -0.089       0.107
Lag5           0.0103      0.050      0.208      0.835      -0.087       0.107
Volume         0.1354      0.158      0.855      0.392      -0.175       0.446
==============================================================================

In [22]:
model_fit.predict(data1)

0       0.507084
1       0.481468
2       0.481139
3       0.515222
4       0.510781
          ...
1245    0.519892
1246    0.505926
1247    0.539268
1248    0.526118
1249    0.517917
Length: 1250, dtype: float64

In [23]:
Y_predicted=(model_fit.predict(data1) >= 0.5).astype(int)

In [24]:
Y_predicted

0       1
1       0
2       0
3       1
4       1
       ..
1245    1
1246    1
1247    1
1248    1
1249    1
Length: 1250, dtype: int32

In [25]:
model_fit.pred_table()

array([[145., 457.],
       [141., 507.]])

# Now training the model on one dataset and testing the model on other different dataset to see how it will perform on  new input data.

In [27]:
df_train=sm.add_constant(df_train)
model = sm.Logit(Y_train,df_train)
model_fit = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.691936
         Iterations 4

In [28]:
print(model_fit.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:              Direction   No. Observations:                  998
Model:                          Logit   Df Residuals:                      991
Method:                           MLE   Df Model:                            6
Date:                Wed, 28 Apr 2021   Pseudo R-squ.:                0.001562
Time:                        16:08:40   Log-Likelihood:                -690.55
converged:                       True   LL-Null:                       -691.63
Covariance Type:            nonrobust   LLR p-value:                    0.9044
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.1912      0.334      0.573      0.567      -0.463       0.845
Lag1          -0.0542      0.052     -1.046      0.295      -0.156       0.047
Lag2          -0.0458      0.052     -0.884      0.377      -0.147       0.056
Lag3           0.0072      0.052      0.139      0.889      -0.094       0.108
Lag4           0.0064      0.052      0.125      0.901      -0.095       0.108
Lag5          -0.0042      0.051     -0.083      0.934      -0.104       0.096
Volume        -0.1163      0.240     -0.485      0.628      -0.586       0.353
==============================================================================

In [29]:
model_fit.predict(df_train)

0      0.498506
1      0.489314
2      0.484979
3      0.509879
4      0.514574
         ...
993    0.517947
994    0.528318
995    0.514160
996    0.511735
997    0.524183
Length: 998, dtype: float64

In [30]:
Y_predicted_train=(model_fit.predict(df_train) >= 0.5).astype(int)

In [31]:
Y_predicted_train

0      0
1      0
2      0
3      1
4      1
      ..
993    1
994    1
995    1
996    1
997    1
Length: 998, dtype: int32

In [32]:
df_test=sm.add_constant(df_test)
model_fit.predict(df_test)
Y_predicted_test=(model_fit.predict(df_test) >= 0.5).astype(int)
Y_predicted_test

998     1
999     1
1000    1
1001    1
1002    0
       ..
1245    0
1246    1
1247    1
1248    1
1249    1
Length: 252, dtype: int32

In [33]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import (confusion_matrix, 
                           accuracy_score)
  
cm = confusion_matrix(Y_test, Y_predicted_test) 
print ("Confusion Matrix : \n", cm) 
  
print('Test accuracy = ', accuracy_score(Y_test, Y_predicted_test))

Confusion Matrix :
 [[77 34]
 [97 44]]
Test accuracy =  0.4801587301587302

# Trying to improve the accuracy of the model by removing unrelated predictors

In [34]:
df_train_2pred = df_train[["Lag1", "Lag2"]]

In [35]:
df_test_2pred = df_test[["Lag1", "Lag2"]]

In [36]:
df_train_2pred=sm.add_constant(df_train_2pred)
model = sm.Logit(Y_train,df_train_2pred)
model_fit = model.fit(method='newton')

Optimization terminated successfully.
         Current function value: 0.692085
         Iterations 3

In [37]:
df_test_2pred=sm.add_constant(df_test_2pred)
model_fit.predict(df_test_2pred)
Y_predicted_test_2pred=(model_fit.predict(df_test_2pred) >= 0.5).astype(int)
Y_predicted_test_2pred

998     1
999     1
1000    1
1001    1
1002    1
       ..
1245    0
1246    1
1247    1
1248    1
1249    1
Length: 252, dtype: int32

In [40]:
cm = confusion_matrix(Y_test,Y_predicted_test_2pred) 
print ("Confusion Matrix : \n", cm) 
  
print('Test accuracy = ', accuracy_score(Y_test,Y_predicted_test_2pred))

Confusion Matrix :
 [[ 35  76]
 [ 35 106]]
Test accuracy =  0.5595238095238095